<div class="bottomUp-container d-flex justify-content-center">
    <div class="bottomUp">
        <app-bottom-slide-content></app-bottom-slide-content>
    </div>
</div>
<div class="rightLeft-container d-flex justify-content-center">
    <div class="rightLeft">
        <app-right-slide-content></app-right-slide-content>
    </div>
</div>
<div class="leftRight-container d-flex justify-content-center">
    <div class="leftRight">
        <app-left-slide-content></app-left-slide-content>
    </div>
</div>

