i {
    font-size: 3em;
}

a {
    color: inherit;
}

.neighbor {
    height: 54.75px;
    width: 120px;
    background-color: gray;
    font-size: 1.2em;
}

.donate {
    background-color: #c2a625;
}