<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="https://www.facebook.com/GEMSEdubayarea" target="_blank"><i class="bi bi-facebook"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://instagram.com/gems_edu?igshid=YmMyMTA2M2Y=" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
            <form action="https://gems-edu.us16.list-manage.com/subscribe/post?u=221e00a408d1bea09c346e1c7&amp;id=1058bd4af9&amp;f_id=00ec73e0f0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_self">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Join Our Email List</mat-label>
                    <input matInput type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                </mat-form-field> -->
                <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                <!-- <button mat-raised-button class="neighbor">Send</button> -->
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_221e00a408d1bea09c346e1c7_1058bd4af9" tabindex="-1" value=""></div>
                <div class="optionalParent">
                <!-- <div class="clear foot">
                    <p class="brandingLogo">
                        <a href="http://eepurl.com/isZ1zI"title="Mailchimp - email marketing made easy and fun">
                            <img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg">
                        </a>
                    </p>
                </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="https://www.nfggive.org/guidestar/30-0742596" target="_blank" mat-raised-button class="donate">DONATE</a>
        </div>
    </div>
    <div class="row mt-3">
        <p>&copy;GEMS Inc. 2023 - Founded 2011</p>
    </div>
</div>
