<div class="container mt-3">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a href="https://www.facebook.com/GEMSEducate?mibextid=LQQJ4d"><i class="bi bi-facebook"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://instagram.com/gems_edu?igshid=YmMyMTA2M2Y="><i class="bi bi-instagram"></i></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-center">
            <mat-form-field appearance="outline">
                <mat-label>Join Our Email List</mat-label>
                <input type="email" matInput placeholder="Enter email">
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div>
                <button mat-raised-button class="neighbor">Send</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <button mat-raised-button color="primary">DONATE</button>
        </div>
    </div>
    <div class="row mt-3">
        <p>&copy;GEMS Inc. 2023 - Founded 2011</p>
    </div>
</div>
