i {
    font-size: 3em;
}

a {
    color: inherit;
}

.neighbor {
    height: 50px;
    width: 120px;
    background-color: gray;
    font-size: 1.2em;
}

.donate {
    background-color: #c2a625;
}

.mat-form-field-wrapper {
    padding-bottom: 0px;
}