<div class="container-fluid text-center">
    <div style="background-color: red;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img class="img-fluid gems-logo" src="assets/images/gems-tp.png">
                    <h1>Programs</h1>
                </div>
            </div>
            <div class="row align-items-center section mt-3" id="moneymatters">
                <div class="col-md-6">
                    <h2>Money Matters</h2>
                    <img class="img-fluid" src="assets/images/speaklife.png">
                    <p>
                        INVEST in YOUR FUTURE!<br><br>Have you ever heard adults say things like “Adulting is Hard”, or “I wish I
                        knew about finances when I was younger”? Well, here's an opportunity for our young people to gain
                        basic banking knowledge and how to apply finances to everyday life. In these sessions our young
                        leaders will learn how money and career aspirations align. Along with building the strategy on how to
                        obtain and manage finances to pursue academic and life goals.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="assets/images/workshop.jpg">
                </div>
            </div>
        </div>
    </div>

    <!-- switch -->
        <div class="row align-items-center section cp1" id="careerpathways">
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/workshop.jpg">
            </div>
            <div class="col-md-6">
                <h2>Career Pathways</h2>
                <p>
                    CREATE OPPORTUNITY for YOURSELF!<br><br>The WORLD is YOURS is what most students hear throughout
                    their lives. Knowing what you want to do once you finish high school could be a big blur with so many
                    options to choose from. Our Career Pathways program gives opportunities for individuals to explore
                    various industries and career paths to help identify interests and learn more about the careers options
                    available. Participants in the program will have the opportunity to build networking skills by meeting
                    and engaging with successful industry professionals, including the path to entrepreneurship.
                </p>
            </div>
        </div>
        <div class="row align-items-center section cp2">
            <div class="col-md-6">
                <h2>Career Pathways</h2>
                <p>
                    CREATE OPPORTUNITY for YOURSELF!<br><br>The WORLD is YOURS is what most students hear throughout
                    their lives. Knowing what you want to do once you finish high school could be a big blur with so many
                    options to choose from. Our Career Pathways program gives opportunities for individuals to explore
                    various industries and career paths to help identify interests and learn more about the careers options
                    available. Participants in the program will have the opportunity to build networking skills by meeting
                    and engaging with successful industry professionals, including the path to entrepreneurship.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/workshop.jpg">
            </div>
        </div>
    <!-- end switch -->
        <div class="row align-items-center section" id="speaklife">
            <div class="col-md-6">
                <h2>SpeakLife</h2>
                <p>YOUR WORDS….YOUR VOICE!<br><br>SpeakLife is designed to provide an outlet for the voice of our youth to
                    be heard in a positive light! Express yourself in creative writing projects whether it's music, poetry,
                    short stories, and/or social impact topic discussions. Using your voice to engage is important not only to
                    grow communication skills but also to learn to express feelings on matters of interest and situations that
                    may impact your life from your perspective. Participants in the program will have the opportunity to
                    feature guests on our SpeakLife podcast and media productions as well as have an opportunity to
                    submit their completed SpeakLife projects for inclusion in our SpeakLife anthology publication and entry
                    to scholarship program.</p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/images/workshop.jpg">
            </div>
        </div>
</div>
<app-footer></app-footer>
