li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

ul {
    display: inline;
}

.mat-button, .mat-raised-button {
    font-size: large;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    a {
        display: block;
        margin-bottom: 5px;
    }

    .main {
        display: none;
    }

    .burger {
        display: inline;
    }

    .mat-raised-button {
        margin-bottom: 5px;
    }

    .mat-app-background {
        background-color: rgba(0,0,0,.5);
    }
}