li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

ul {
    display: inline;
}

.mat-button, .mat-raised-button {
    font-size: large;
}

.burger {
    display: none;
}

@media (max-width: 768px) {
    a {
        display: block;
    }

    .main {
        display: none;
    }

    .burger {
        display: inline;
    }
}