li {
    list-style-type: none;
    display: inline;
    margin-left: 10px;
}

ul {
    display: inline;
}

.mat-button, .mat-raised-button {
    font-size: large;
}

a {
    color: inherit;
}


@media (max-width: 1000px) {
    li {
        list-style-type: none;
        display: block;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    ul {
        display: block;
        margin-top: 10px;
        padding-left: 0;
    }

    .mat-button, .mat-raised-button {
        width: 100%;
    }
}