<div class="container tall">
    <div class="row text-center tall align-items-center">
        <div class="col-md-12">
            <h1 class="title">Career Pathways:</h1>
            <h3 class="subtitle">Create OPPORTUNITY for YOURSELF</h3>
            <p>Students explore and engage in opportunities for careers and
                entrepreneurship through industry leader webinars and onsite company visits.
            </p>
            <!-- <a mat-raised-button href="programs/#careerpathways">Learn More</a> -->
        </div>
    </div>
</div>