<div class="container tall">
    <div class="row text-center tall align-items-center">
        <div class="col-md-12">
            <h1 class="title">SpeakLife:</h1>
            <h3 class="subtitle">Your WORDS your VOICE</h3>
            <p>Cohorts designed for students to identify with social emotional intelligence, mindfulness and positive
                self-expression through writing, creative arts, and production.
            </p>
            <a mat-raised-button href="programs/#speaklife">Learn More</a>
        </div>
    </div>
</div>