.tall {
    height: 100%;
}

a {
    color: inherit;
}

.half {
    height: 50%;
}

h1 {
    font-size: 2.5em;
    line-height: 1em;
}

p {
    font-size: 2em;
    line-height: 1.2em;
}

.title {
    font-size: 10em;
    font-weight: bold;
    font-family: 'brush script mt';
}

.subtitle {
    font-size: 2.5em;
    font-family: 'brush script mt';
}

.mat-raised-button {
    background-color: #c2a625;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
        line-height: 1em;
    }
    p {
        font-size: 1.25em;
        line-height: 1.2em;
    }
    .title {
        font-size: 4em;
        font-weight: bold;
    }

    .subtitle {
        font-size: 2em;
    }
}