.mat-toolbar {
    background-color: rgba(0,0,0,0);
    top:0;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

.spacer {
    flex: 1 1 auto;
}

.side-nav-button {
    display: none;
}

@media (max-width: 1000px) {
    a {
        display: block;
        margin-bottom: 5px;
    }

    .main-nav-menu {
        display: none;
    }

    .side-nav-button {
        display: inline;
    }

    .mat-app-background {
        background-color: rgba(0,0,0,.5);
    }

    .mat-toolbar {
        background-color: rgba(0,0,0,.5);
    }

}