<!--
notes:
the circle checklists in notes are the menu items
second section can be an events section
educate motivate adn inspire for home page sections
footer with donation link, sign ups,
-->

<app-header></app-header>
<div class="content-container">
    <!-- <app-bottom-slide-content></app-bottom-slide-content> -->
    <!-- <app-right-slide-content></app-right-slide-content> -->
    <!-- <app-left-slide-content></app-left-slide-content> -->
    <app-home-content></app-home-content>
    <app-footer></app-footer>
</div>